*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#310049;
color:white;
}

header{
background:#58008f;
padding:25px;
text-align:center;
}

.container{
display:flex;
padding:20px;
gap:20px;
}

.menu{
width:320px;
background:#37005f;
padding:20px;
border-radius:10px;
height:80vh;
overflow-y:auto;
}

.menu h2{
margin-bottom:10px;
margin-top:15px;
}

.menu button{
width:100%;
padding:10px;
margin-bottom:8px;
border:none;
background:#9639e85e;
color:white;
border-radius:6px;
cursor:pointer;
font-size:14px;
transition:0.3s;
}

.menu button:hover{
background:#780fb5;
}

.codigo-area{
flex:1;
background:#21002a;
padding:25px;
border-radius:10px;
}

.codigo-area h2{
margin-bottom:15px;
}